body {
  background-color: #1f1f1f;
  color: #cdd6f4;
}

.correct {
  color: white;
}

.incorrect {
  color: red;
}

.untyped {
  color: #6c7086;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.snippet {
  font-family: monospace;
  font-size: x-large;
  letter-spacing: 1px;
}

.restart-button {
  border: none;
  padding: 5px;
}

.typing-area {
  position: relative;
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.title {
  font-family: monospace;
  padding-bottom: 20px;
}

.current {
  position: relative;
}

.current::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #58a6ff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}